/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

.fa-star {
  color: #999; /* Color for an empty star (e.g., gray) */
  font-size: px; /* Adjust the size as needed */
}

.checked {
  color: orange; /* Color for an empty star (e.g., gray) */
}
